
<!-- Challenge 5 apply ejs header layout -->
<!-- Inside the views folder and create a new folder called partials, move the header and footer.ejs files inside and update the locations for header  -->
<%- include("partials/header"); -%>
<h1>About</h1>

<!-- Challenge 5: Outputs the value into the template (HTML escaped) -->
<p><%= ejsAboutContent %></p>

<!-- Challenge 5 apply ejs footer layout -->
<!-- Inside the views folder and create a new folder called partials, move the header and footer.ejs files inside and update the locations for footer  -->
<%- include("partials/footer"); -%>