<!-- Challenge 19: apply ejs header layout -->
<%- include("partials/header"); -%>

<!-- Challenge 19: pass this variable onto app.js to render it in the post.ejs page.  -->
<h1> <%= title %> </h1>

<!-- Challenge 19: pass this variable onto app.js to render it in the post.ejs page.  -->
<p> <%= content %> </p>

<!-- Challenge 19: apply ejs footer layout -->
<%- include("partials/footer"); -%>

